<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :apellidopaterno %>
    <%= f.text_field :apellidopaterno %>
  </div>

  <div class="field">
    <%= f.label :apellidomaterno %>
    <%= f.text_field :apellidomaterno %>
  </div>

  <div class="field">
    <%= f.label "Fecha de nacimiento" %>
    <%= f.date_select :nac, {order: [:day, :month, :year], prompt: {day: 'Dia', month: 'Mes', year: 'Año'}, start_year: Date.today.year-80, end_year: Date.today.year}, :required => true %>
  </div>

  <div class="field">
    <%= f.label :peso %>
    <%= f.number_field :peso %>
  </div>

  <div class="field">
    <%= f.label :altura %>
    <%= f.number_field :altura %>
  </div>

  <div class="field">
    <%= f.label 'Talla de bota' %>
    <%= f.text_field :talla %>
  </div>

  <div class="field">
    <%= f.label 'Talla de parka' %>
    <%= f.text_field :talla_parka %>
  </div>

  <div class="field">
    <%= f.label 'Talla de pantalon' %>
    <%= f.text_field :talla_pantalon %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
