  <header class="viewport" style="overflow: hidden; min-width: 100%">
       <img src="/images/IMG_4601.jpg" alt="Homepage image" class="responsive">
  </header>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="container">
  <br>
  </br>
  <body class="home-bg">
    <div style="margin-top:-750px;">
      <br>
      </br>
      <h1 style="font-size:60px">Bienvenido a Rental Ski!</h1>
      <br>
      </br>
      <br>
      </br>
      <table>
        <div style="text-align: center;">
          <td style="padding-right: 100px;">
            <%= link_to 'Check In', arriendos_path, :class => "btn btn-primary btn-hg" %>
          </td>

          <td style="padding-right: 100px;">
            <%= link_to 'Precios y packs', equipos_path, :class => "btn btn-primary btn-hg" %>
          </td>

          <td style="padding-right: 100px;">
            <%= link_to 'Nuestro equipo', nuestro_equipos_path, :class => "btn btn-primary btn-hg" %>
          </td>
        </div>
      </table>
      <br>
      </br>
      <br>
      </br>
    </div>
    <br>
    </br>
    <br>
    </br>
    <br>
    </br>


    </body>
</div>
<div style="padding-bottom:6.5px;">
    <table class="table" style="border: 3px solid black;">
      <tbody class= "jumbotron jumbotron-fluid" style="background-color: #dddddd;border: 1px solid black;">
        <% @homes.each do |home| %>
            <tr style="border: 3px solid black;">
              <td class = "container" style="max-width:200px;border: 3px solid black;" ><%= "Snowforecast" %></td>
              <td class = "container" style="background-color: #428bca;border: 1px solid black"><%= home.snowforecast %></td>
                <% if user_signed_in? %>
                  <% if current_user.admin %>
                    <td>
                      <%= link_to 'Editar', edit_home_path(home) %>
                    </td>
                  <% end %>
                <% end %>
            </tr>
          <tr style="border: 3px solid black;">
              <td class = "container" style="max-width: 200px;border: 3px solid black"><%= "Condiciones del camino" %></td>
              <td class = "container" style="background-color: #428bca;border: 3px solid black"><%= home.camino %></td>
                <% if user_signed_in? %>
                  <% if current_user.admin %>
                  <td>
                    <%= link_to 'Editar', edit_home_path(home) %>
                  </td>
                  <% end %>
                <% end %>
            </tr>
        <% end %>
        <% if @homes.count < 1 %>
          <% if user_signed_in? %>
            <% if current_user.admin %>
              <%= link_to 'Agregar Snowforecast', new_home_path %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>
