<br>
</br>

<div class="container">
  <h1>Equipos</h1>
  <br>
  </br>
  <div class="table-responsive">
    <table class="table table-striped">
      <!-- <thead>
        <tr>
          <th>Equipo</th>
          <th>Detalles</th>
          <th>Precio</th>
          <th>Foto</th>
          <th>Stock</th>
          <th colspan="3"></th>
        </tr>
      </thead> -->

      <tbody>
        <% sizes = ["240x120", "240x120", "240x120", "240x120", "240x60", "240x60", "60x60" , "60x60" , "60x60" , "60x60" , "60x60" , "60x60" , "60x60" , "60x60" , "60x60" , "60x60"] %>
        <% counter = 0 %>
        <% @equipos.order('price DESC').each do |equipo| %>
          <tr>
            <td style="padding-right: 0px">
            <h3><strong><%= equipo.name %></strong></h3>
            <header class="viewport" style="padding-top: 8px">
                <%=  image_tag(equipo.picture, size:sizes[counter]) %>
            </header>
            </td>
            <td>
            <strong> Descripción </strong>
            <div style="white-space:pre-wrap; padding-top: 8px"><%= equipo.description %></div>
            </td>
            <td style="vertical-align: middle">
            <strong> Precio web </strong>
            <div style="padding-top: 8px"><%= "$ " + equipo.price.to_s %></div>
            </td>
            <!-- <td><%= equipo.stock %></td> -->
            <% if params[:nroarr].present? %>
              <td style="vertical-align: middle"><%= link_to 'Reservar', new_arriendo_path(:eq => equipo.id, :arr => Arriendo.find(params[:nroarr]).id), :class=>"btn btn-primary btn-2"  %></td>
            <% else %>
              <td style="vertical-align: middle"><%= link_to 'Reservar', new_arriendo_path(:eq => equipo.id), :class=>"btn btn-primary btn-2"  %></td>
            <% end %>
            <% if user_signed_in? %>
              <% if current_user.admin %>
                  <td><%= link_to 'Editar', edit_equipo_path(equipo) %></td>
                  <td><%= link_to 'Eliminar', equipo, method: :delete, data: { confirm: 'Seguro?' } %></td>
                <% end %>
            <% end %>
          </tr>
          <% counter += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<% if user_signed_in? %>
  <% if current_user.admin %>
    <%= link_to 'Nuevo Equipo', new_equipo_path %>
  <% end %>
<% end %>
