<%= form_for(arriendo) do |f| %>
  <% if arriendo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arriendo.errors.count, "error") %> Error guardando el arriendo:</h2>

      <ul>
      <% arriendo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="field" style="padding-top:8px">
      <%= f.label "Fecha de Uso" %>
      <%= f.date_select :fecha, {order: [:day, :month, :year], prompt: {day: 'Dia', month: 'Mes', year: 'Año'}, start_year: Date.today.year, end_year: Date.today.year + 5}, :value => arriendo.fecha %>
    </div>

    <div class="field" style="padding-top:8px">
      <%= f.label "Dias de Uso" %>
      <%= f.number_field :dias, :value => arriendo.dias %>
    </div>

    <div class="field" style="padding-top:8px">
      <%= f.label "Nivel" %>
      <%= f.number_field :experience, :min => 1, :max => 3, :value => arriendo.experience %>
    </div>

    <div class="field" style="padding-top:8px">
      <%= f.label 'Talla de bota' %>
      <%= f.number_field :talla, :value => arriendo.talla, :min => 1 %>
    </div>

    <div class="field" style="padding-top:8px">
      <%= f.label 'Talla de parka' %>
      <%= f.number_field :talla_parka, :value => arriendo.talla_parka, :min => 1 %>
    </div>

    <div class="field" style="padding-top:8px">
      <%= f.label 'Talla de pantalon' %>
      <%= f.number_field :talla_pantalo, :value => arriendo.talla_pantalon, :min => 1 %>
    </div>

    <div class="field" style="padding-top:8px">
      <%= f.label :altura %>
      <%= f.number_field :altura, :value => arriendo.altura, :min => 1 %>
    </div>

    <div class="field" style="padding-top:8px">
      <%= f.label :peso %>
      <%= f.number_field :peso, :value => arriendo.peso, :min => 1 %>
    </div>

    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>

    <div class="field">
      <%= f.hidden_field :equipo_id, :value => id %>
    </div>

    <% if params[:arr].present? %>
      <div class="field">
        <%= f.hidden_field :nropedido, :value => Arriendo.find(params[:arr]).nropedido %>
      </div>
    <% else %>
      <div class="field">
        <%= f.hidden_field :nropedido, :value => Time.current.to_i.to_s + Equipo.find(id).name[0..2].upcase + id.to_s%>
      </div>
    <% end %>

    <div class="actions" style="padding-top:10px">
      <%= f.submit %>
    </div>
  <% else %>

  <p>
    Registrate para hacer el check in!
  </p>

  <% end %>
<% end %>
