<p id="notice"><%= notice %></p>

<h1>Arriendos</h1>
<div>
  <% if user_signed_in? %>
    <% if current_user.linker != nil %>
      <% agregar(current_user.id, current_user.linker) %>
    <% end %>
  <% end %>
</div>
<% if user_signed_in?%>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nropedido</th>
            <th>Fecha</th>
            <th>user</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @repeat = Array.new %>
          <% @arriendos.order('fecha').each do |arriendo| %>
            <% if DateTime.now < arriendo.fecha %>
              <% if current_user.id == arriendo.user_id || current_user.admin %>
                <% if @repeat.include?(arriendo.nropedido) == false %>
                  <tr>
                    <td><%= arriendo.nropedido %></td>
                    <td><%= arriendo.fecha.to_formatted_s(:long) %></td>
                    <td><%= arriendo.user_id %></td>
                    <td><%= link_to 'Mostrar', arriendo_path(arriendo) %></td>
                    <td><%= link_to 'Editar', edit_arriendo_path(arriendo) %></td>
                    <td><%= link_to 'Eliminar', arriendo, method: :delete, data: { confirm: 'Seguro?' } %></td>
                  </tr>
                  <% @repeat.push(arriendo.nropedido) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  </br>

  <%= link_to 'Continuar arrendando', equipos_path %>

  <br>
  </br>
  <%= link_to 'Unir arriendo a tu cuenta', edit_user_registration_path(:action => "link") %>

<% else %>
  <%= "Puedes realizar check-in previo si te registras! Tendras todo listo al llegar" %>

<% end %>
